<div class="container">
    <div class="form-container">
        <form method="post" action="/Account/ForgotPassword">
            <div class="form-group">
                <input placeholder="Email" type="email" name="email" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
<style>
    body {
        background-color: #f8f9fa;
    }

    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        margin-top: 50px;
    }

    .form-control {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #007bff !important;
        border-color: #007bff !important;
    }

        .btn-primary:hover {
            background-color: #0056b3 !important;
            border-color: #0056b3 !important;
        }
</style>